# Server Files
*.DS_Store
dist/.htaccess
public

# Craft Files
dist/cpresources/*
craft/.env
craft/.env.*
!craft/.env.example
craft/.idea
craft/storage/backups/*
craft/storage/logs/*
craft/storage/runtime/*
craft/storage/config-backups/*
craft/storage/config-deltas/*
craft/vendor/*

# Local Config
*.code-workspace
*.vscode

# Misc
README.dev.txt

# Keep Directories
# http://goo.gl/3PMQna
!.gitkeep