# Server Files
*.DS_Store
dist/.htaccess

# Craft Files
dist/cpresources/*
craft/.env
craft/.env.DEV
craft/.env.PROD
craft/.env.STAGE
craft/.idea
craft/storage/backups/*
craft/storage/logs/*
craft/storage/runtime/*
craft/storage/config-backups/*
craft/storage/config-deltas/*
craft/vendor/*

# Local Config
*.code-workspace
*.vscode

# Keep Directories
# http://goo.gl/3PMQna
!.gitkeep