$section-padding: 3rem;

@mixin layout-wrapper {
	> .gutter {
		padding-left: $gutter;
		padding-right: $gutter;
		> .container {
			max-width: $max-width;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@mixin layout-grid-base {
	@include reset-list;
	margin-left: (-($gutter/2));
	margin-right: (-($gutter/2));
	margin-bottom: (-($gutter));
	display: flex;
	flex-wrap: wrap;
	> * {
		width: 100%;
		padding: 0 ($gutter/2) $gutter ($gutter/2);
		flex: 0 1 auto; //IE11
	}
}